/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bl-dark: #1A1A1A;
    --bl-bg-card: #E5E5E5;
    --bl-font-header: #E9DFD8;
    --bl-orange: #FF6900;
    --bl-bg: #FFFFFF;
    --bl-red: #FF2828;
    --bl-green: #008000;
}

body {
    background-color: var(--bl-bg);
}

.container {
    width: 80%;
    margin: auto;
    background-color: red;
}

.row {
    display: flex;
}

.col-4 {
    width: calc((100% / 12) * 4);
}
/* #endregion Common */

/* #region Body */

/* #region Header */
.menu {
    background-color: var(--bl-orange);
    text-align: center;
    padding: 1rem;

}

.categories {
    padding: 1rem;
}

.categories a{
    text-decoration: none;
    color: var(--bl-font-header);
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.logo {
    padding: 0.5rem;
}

.logo img{
    max-width: 25%;
}

.account i {
    color: var(--bl-font-header);
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}
/* #endregion Header */

/* #region Main */

/* #endregion Main */

/* #endregion Body */